.root {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px 40px;
}
.link {
  color: #a773b0;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
    &:hover{
      color: #a773b0;
    }
}
@media (min-width:760px){
  .mobileMenu{
    display: none;
  }
}

.mobileMenu {
  position: relative; /* Pour positionner correctement le contenu du menu */
}



.opened .nav {
  transform: translateX(0); /* Afficher la navigation en la déplaçant vers la gauche */
}

.mobileMenu {
  position: relative;
  background-color: none; /* Pour positionner correctement le contenu du menu */
  width:fit-content;
}



.opened .nav {
  padding-top: 12px;
  transform: translateX(0);
  background-color: white; /* Afficher la navigation en la déplaçant vers la gauche */
}

.nav{
  background-color: none;
}
.burgerImage{
  height: 50px;
  width: 40px;
  padding-top: 20px;
  padding-left: 10px;

}
.menu{
  height: 80%;
}
.git{
  height: 50px;
  width: 50px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}