.root {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px 40px;
}
.link {
  color: #a773b0;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
    &:hover{
      color: #a773b0;
    }
}
@media (min-width:760px){
  .mobileMenu{
    display: none;
  }
}

.mobileMenu {
  position: relative; /* Pour positionner correctement le contenu du menu */
}



.opened .nav {
  transform: translateX(0); /* Afficher la navigation en la déplaçant vers la gauche */
}

.mobileMenu {
  position: relative;
  background-color: none; /* Pour positionner correctement le contenu du menu */
}



.opened .nav {
  transform: translateX(0);
  background-color: white; /* Afficher la navigation en la déplaçant vers la gauche */
}

.nav{
  background-color: none;
}

