.backgroundFirstSection{background-image: url(../../assets/and-machines-Me8j_wpviPM-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  align-items:center
;
  justify-content: space-between;
}

.firstSection{
    & img{
      height: 350px;
      margin-left: 70px;
    }
    & .h1 { 
      /* -webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
      animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both; */
      text-align: center;
      font-size: 20px!important;
      font-family: 'VT323', monospace;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 50px;
      padding-left: 20px;
      color: white;
      text-align: start;
      border-radius: 5px;
      background-color: rgba(148, 148, 147, 0.571);
      width: 57%;

    }
}

h2{
  font-size: 35px;
}


@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}


/* a propos */

.aPropos{
  background-color: rgb(247, 246, 240);
  display: flex;
  justify-content: center;
  padding: 50px 70px;
  column-gap: 50px;
    & img{
      height: 400px;     
    }
}

/* skills */


.skills {
  background-color: rgb(248, 248, 248);
  padding-bottom: 60px;
    & h2,p{
      text-align: center;
      margin: 0;
      padding: 40px;
    }
    & img {
      height: 450px;
      border: 1px solid black;
      border-radius: 2px;
    }
    & h3{
      margin: 0!important;
    }
}

.skillsBlock{
  width: 70%;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white ;
  box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.13);

}
.bar{
  width: 400px;
}

.skillsBlock div:nth-child(2){
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

/* Mes projets */

.projets{
  background-color:rgb(247, 246, 240);
    & img{
      height: 300px;
    }
    & h2{
      text-align: center;
      margin-top: 0;
      padding-top: 20 px;
    }
}
.blockProjets {
  display: flex;
  width: 75%;
  margin: auto;
  column-gap: 60px;
  align-items: center;
  justify-content: center;
    & div{ 
      transition: all 0.2s ease;
      background-color: white;
      box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.11);
      padding: 40px;
      border-radius: 10px;
      margin-top: 20px;
    }
    & div:hover{
      transition: all 0.2s ease;
      box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.15);
      padding: 42px;
    }
    
}

.test{
  /* background-color: black; */
  height: 100px;
}

@media (max-width: 1000px){
  .firstSection{
    display: flex;
    flex-direction: row;
      & img {
        width: 200px;
        height: 200px;
      }
  }
  .skillsBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blockProjets{
    display: flex;
    flex-direction: column;
  }
  
}

@media (max-width :700px){
  .backgroundFirstSection{
    display: flex;
    flex-direction: column-reverse;
      & img{
        margin-left: 0;
      }
  }
  .aPropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bar{
    width: 200px;
  }
  
}